<section class="parallax">
    <video width="100%" height="" autoplay>
    <source src="media/Pexels Videos 2017427.mp4" type="video/mp4">
    </video>
</section>

<section class="introduction-section"> 
    <div class="guest-speaker">
        <img src="media/guest-speaker-example.png" alt="Guest Speaker" class="guest-speaker-img">
    </div>

    <div class="introduction">
        <h3>Get Connected</h3>
        <p>With over 105 companies involved in this business network, your brand can benefit from one of the biggest corporate networks in Australian sport.</p>
    </div>
</section>

<section class="homepage-tiles">
        <div class="tile-row">
            <div class="image-plus-label">
                <div class="tile-image"><img src="https://www.fillmurray.com/360/270" alt=""></div>
                <div class="tile-label">Keynote Speakers</div>
            </div>
            <div class="image-plus-label">
                <div class="tile-image"><img src="http://lorempixel.com/360/270" alt=""></div>
                <div class="tile-label">News</div>
            </div>
            <div class="image-plus-label">
                <div class="tile-image"><img src="https://placebear.com/360/270" alt=""></div>
                <div class="tile-label">Upcoming Events</div>
            </div>
        </div>
        <div class="tile-row">
        <div class="image-plus-label">
                <div class="tile-image"><img src="http://lorempixel.com/360/270" alt=""></div>
                <div class="tile-label">Gallery</div>
            </div>
            <div class="image-plus-label">
                <div class="tile-image"><img src="https://loremflickr.com/360/270" alt=""></div>
                <div class="tile-label">Contact Us</div>
            </div>
            <div class="image-plus-label">
                <div class="tile-image"><img src="http://placekitten.com/360/270" alt=""></div>
                <div class="tile-label">Sponsors</div>
            </div>
        </div>
</section>

<section class="members">
    <h3>Carlton IN Business Members</h3>
    <p>Scrolling Logos</p>
    <div class="jcarousel">
        <ul>
            <li>...</li>
            <li>...</li>
        </ul>
    </div>
</section>