<section>
<video width=100% height="" autoplay>
  <source src="media/Pexels Videos 2017427.mp4" type="video/mp4">
</video>
</section>

<section class="guest-speaker">
    <img src="media/guest-speaker-example.png" alt="Guest Speaker" class="guest-speaker">
</section>

<section class="introduction">
    <h3>Get Connected</h3>
    <p>With over 105 companies involved in Carlton IN Business, your brand can benefit from one of the biggest corporate networks in Australian sport.</p>
</section>

<section class="navigation-tiles">
        <div class="tile-row">
            <div>Keynote Speakers</div>
            <div>News</div>
            <div>Upcoming Events</div>
        </div>
        <div class="tile-row">
            <div>Gallery</div>
            <div>Contact Us</div>
            <div>Sponsors</div>
        </div>
</section>

<section>
    <h3>Carlton IN Business Members</h3>
    <p>Scrolling Logos</p>
</section>