<!doctype html>
<html lang="en">
<head>
  <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
  <meta charset="UTF-8">
  <title>Business Networking</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <header class="container">
    <a href="/"><img src="/media/Generic Logo.jpg" alt="Carlton IN Business Logo"></a>
    <div class="sub-container">
      <nav class="nav-visible">  
        <div class="row-one">
          <a class="nav-link first" href="http://">Members</a>
          <a class="nav-link" href="http://">Member Benefits</a>
          <a class="nav-link" href="http://">Contact Us</a>
          <a class="nav-link" href="http://">News</a>
          <a class="nav-link" href="/login">Login</a>
          <% if logged_in? %>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="log-out">Log Out</button>
            </form>
          <% end %>
        </div>
      </nav>
      <% if logged_in? %>
      <nav class="nav-login">
        <div class="row-two">
          <a class="nav-link first" href="http://">Events</a>
          <a class="nav-link" href="/profiles">Network</a>
          <a class="nav-link" href="http://">Jobs</a>
          <a class="nav-link" href="/member-offers">Member Offers</a>
          <a class="nav-link" href="http://">Tenders</a>
        </div>
      </nav>
      <% end %>
    </div>
  </header>

  <%= yield %>

<footer>
  <form action="">
    <input class="first-name" type="text" placeholder="First Name"> <input class="surname" type="text" placeholder="Surname">
    <input class="phone" type="text" placeholder="Phone Number">
    <input class="email"type="text" placeholder="Email">
    <input class="enquiry" type="text" placeholder="Enquiry">
    <button>Submit</button>
  </form>

  <p>&copy; Business Network</p> 

  <script src="/javascripts/application.js"></script>
</footer>
</body>
</html>