<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Business Networking</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <section class="container">
    <img src="media/CIB-logo-230.png" alt="Carlton IN Business Logo">
    <div class="sub-container">
      <nav class="nav-visible">  
        <div class="row-one">
          <a href="http://">Members</a>
          <a href="http://">Member Benefits</a>
          <a href="http://">Contact Us</a>
          <a href="http://">News</a>
        </div>
      </nav>
      <nav class="nav-login">
        <div class="row-two">
          <a href="http://">Events</a>
          <a href="http://">Network</a>
          <a href="http://">Jobs</a>
          <a href="http://">Member Offers</a>
          <a href="http://">Tenders</a>
          <a href="http://">Login</a>
        </div>
      </nav>
    </div>
  </section>
  <%= yield %>

<footer>
  <form action="">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Surname">
    <input type="text" placeholder="Phone Number">
    <input type="text" placeholder="Email">
    <input type="text" placeholder="Enquiry">
    <button>Submit</button>
  </form>

  &copy; <p>Carlton IN Business</p> 
</footer>
</body>
</html>