<!doctype html>
<html lang="en">
<head>
  <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.jcarousel.min.js"></script>
  <meta charset="UTF-8">
  <title>Business Networking</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <header class="container">
    <a href="/"><img src="/media/Generic Logo.jpg" alt="Carlton IN Business Logo"></a>
    <div class="sub-container">
      <nav class="nav-visible">  
        <div class="row-one topnav" id="myTopnav">
          <a class="nav-link first" href="/members">Members</a>
          <a class="nav-link" href="/member-benefits">Member Benefits</a>
          <a class="nav-link" href="http://">Contact Us</a>
          <a class="nav-link" href="http://">News</a>
          <% if logged_in?%>
          <a class="hidden" href="/login">Login</a>
          <% else %>
          <a class="nav-link nav-login" href="/login">Login</a>
          <% end %>
          <% if logged_in? %>
            <form action="/session" method="post">
              <input type="hidden" name="_method" value="delete">
              <button class="log-out">Log Out</button>
            </form>
          <% end %>
        </div>
      </nav>
      <% if logged_in? %>
      <nav class="nav-login">
        <div class="row-two">
          <a class="nav-link first" href="http://">Events</a>
          <a class="nav-link" href="/profiles">Network</a>
          <a class="nav-link" href="http://">Jobs</a>
          <a class="nav-link" href="/member-offers">Member Offers</a>
          <a class="nav-link" href="http://">Tenders</a>
        </div>
      </nav>
      <% end %>
    </div>
  </header>

  <%= yield %>

<footer>
  <form action="https://formspree.io/roisin.briscoe@gmail.com" method="post">
    <input class="first-name" type="text" name="first-name" placeholder="First Name"> <input class="surname" type="text" placeholder="Surname">
    <input name="phone" class="phone" type="text" placeholder="Phone Number">
    <input name="email" class="email"type="text" placeholder="Email">
    <input name="enquiry" class="enquiry" type="text" placeholder="Enquiry">
    <button class="button-look">Submit</button>
  </form>

  <p>&copy; Business Network</p> 

  <script src="/javascripts/application.js"></script>
</footer>
</body>
</html>