<div class="login">
    <form action="/session" method="post">
        <input class="login-input block" type="text" name="email" placeholder="Email">
        <input class="login-input block" type="password" name="password" placeholder="Password">
        <button class="button-look">Login</button>
    </form>
</div>