<h1 class="subpage-header">Member Offers</h1>

<div class="offer-container">
    <a class="button-look" href="/member-offers/new">Add new offer</a>
</div>

<section>
    <div class="offer-row">
        <% @offers.each do |offer| %>
        <div class="offer">
            <a href="/member-offers/<%=offer.id%>">
                <div class="profile-image">
                    <img class="profile-image" src="<%=offer.image.url%>" alt="Offer Image">
                </div>
                <div class="profile-labels">
                    <h2><%=offer.offer_title%></h2>
                </div>     
            </a>
        </div>
        <% end %>
    </div>
</section>