<h1>Upload New Offer</h1>

<div class="block center">
    <form action="/member-offers" method="post" enctype="multipart/form-data">
        <label for="">Image: </label>
        <input class="update-input center" type="file" name="image">
        <label for="">Offer Title: </label>
        <input class="update-input center" type="text" name="offer_title">
        <label for="">Offer: </label>
        <input class="update-input center" type="text" name="offer">
        <label for="">Contact Name: </label>
        <input class="update-input center" type="text" name="your_name">
        <label for="">Email: </label>
        <input class="update-input center" type="text" name="email">
        <label for="">Phone: </label>
        <input class="update-input center" type="text" name="phone">

        <button class="button-look">Upload Offer</button>
    </form>
</div>