<form action="/member-offers" method="post" enctype="multipart/form-data">
    <label for="">Image: </label>
    <input type="file" name="image">
    <label for="">Offer Title: </label>
    <input type="text" name="offer_title">
    <label for="">Offer: </label>
    <input type="text" name="offer">
    <label for="">Contact Name: </label>
    <input type="text" name="your_name">
    <label for="">Email: </label>
    <input type="text" name="email">
    <label for="">Phone: </label>
    <input type="text" name="phone">

    <button>Upload Offer</button>

</form>