* {
    box-sizing: border-box;
}

@font-face {
    font-family: Futura;
    src: url("fonts/futura-medium-condensed-bt.ttf");
}

body {
    font-family: Futura;
    width: 100%;
    margin: 0;
}

textarea {
    font-family: Futura;
    display: block;
    margin-bottom: 10px;
}

nav {
    height: 105px;
}

.container {
    display: flex;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white
}

.sub-container {
    width: 100%;
}

.row-one {
    display: flex;
}

.row-two {
    display: flex;
    justify-content: flex-end;
}

.nav-visible {
    display: block;
    height: 50%;
}

.nav-login {
    display: block;
    height: 50%;
}

.nav-link {
    margin: 5px 5px 5px 5px;
    padding-left: 5px;
    border-left: 2px solid rgba(4, 27, 41, 0.1);
    font-size: 1.25em;
    color: #041b29;
    text-decoration: none;
}

nav img {
    width: 230px;
}

.first {
    border-left: none;
}

.nav-link:hover {
    color: rgba(4, 27, 41, 0.5)
}

.log-out {
    margin: 5px;
    padding-left: 5px;
    border: none;
    border-left: 2px solid rgba(4, 27, 41, 0.1);
    font-size: 1.25em;
    color: #041b29;
    text-decoration: none;
    font-family: Futura;
    background: none;
}

.parallax {
    height: 600px;
}

.parallax video {
    min-width: 100%;
    position: fixed;
    top: 50;
    z-index: -999;
}

.introduction-section {
    background-color: white;
    padding-top: 10px;
}

.guest-speaker {
    width: 80%;
    margin: auto;
}

.guest-speaker-img {
    width: 100%;
}

.introduction {
    width: 40%;
    margin: auto;
}

.introduction p {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.homepage-tiles {
    background-color: #87bee8;
}

.tile-row {
    display: flex;
    justify-content: center;
}

.tile-image {
    height: 270px;
}

.image-plus-label {
    width: 360px;
    height: 340px;
    margin: 20px;
    background: rgba(4, 27, 41, 0.9);
}

.image-plus-label:hover img {
    opacity: 0.1;
}

.image-plus-label:hover .tile-label{
    opacity: 0.1;
}

.tile-label {
    background-color: white;
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.25em;
    text-transform: uppercase;
}

.members {
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
}

.members h3 {
    margin-top: 0;
}

.members ul {
    margin: 0;
    padding-bottom: 10px;
}

footer {
    background-color: #87bee8;
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

footer input {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

.phone, .email, .enquiry {
    width: 40%;
}

.first-name, .surname {
    width: 20%;
    display: inline;
}

.enquiry {
    height: 100px;
}

footer p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* List of Profiles */

.profile-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.profile {
    width: 360px;
    height: 340px;
    margin: 20px 0;
}

.profile-image {
    width: 100%;
    height: 270px;
}

.all-profiles p {
    display: block;
    margin: 0;
    padding: 5px;
    color: white;
}

.all-profiles a {
    text-decoration: none;
}

.profile-labels {
    height: 70px;
    background-color: #87bee8;
}

/* View Specific Profile and Offer */

.profile-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.profile-image-view {
    width: 360px;
    height: 270px;
    margin-bottom: 30px;
}

.profile-information {
    padding-left: 20px;
}

.bold {
    font-weight: bold;
}

/* Update Profile and Offer */

.update-input {
    display: block;
    margin: 10px;
}

.block {
    display: block;
}

.update-form {
    padding-left: 30px;
    display: flex;
}

.column-two, .column-three {
    padding-left: 20px;
}

.profile-container button {
    margin-top: 30px;
}

/* View All Member Offers */

.offer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.offer-row p {
    margin: 0;
    padding: 5px;
    color: white;
}

.offer-row a {
    text-decoration: none;
}

.offer {
    width: 360px;
    height: 340px;
    margin: 20px 0;
}
